.thing-form {
  margin: 20px 0;
}


.hero-unit {
  position: relative;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: url('../../assets/images/background.jpeg');
  padding-top: 170px;
  padding-bottom: 120px;
}

#feature1 {
  padding-top:20px;
  padding-bottom:20px;
  background: #749CEF;
  color: #ffffff;
}
#feature2 {
  padding-top:20px;
  padding-bottom:20px;
  background: #4F6AA3;
  color: #ffffff;
}
#feature3 {
  padding-top:20px;
  padding-bottom:100px;
  background: #435989;
  color: #ffffff;
}
